<div class="container"> 
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Quản lý dự án Fpoly</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" (click)="ganCN('')">Bảng điều khiển</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Giới thiệu</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dự án
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" (click)="ganCN('themduan')" routerLink="/duanthem">Thêm dự án</a></li>
              <li><a class="dropdown-item" href="#" (click)="ganCN('dsduan')"routerLink="/duan" >Danh sách dự án</a></li>
           
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Task
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" (click)="ganCN('themtask')" routerLink="/taskthem">Thêm Task</a></li>
              <li><a class="dropdown-item" href="#" (click)="ganCN('dstask')" routerLink="/task">Danh sách Task</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Nhân viên
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" (click)="ganCN('themnhanvien')" routerLink="/nvthem">Thêm nhân viên</a></li>
              <li><a class="dropdown-item" href="#" (click)="ganCN('dsnhanvien')" routerLink="/nv">Danh sách nhân viên</a></li> 
            </ul>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Từ khóa" aria-label="Search">
          <button class="btn btn-outline-warning" type="submit">Tìm</button>
        </form>
      </div>
    </div>
  </nav>
 <nav class="bg-light p-2">
   <ol class="breadcrumb m-0">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
    <li class="breadcrumb-item" aria-current="page">Dự án</li>
   </ol>
 </nav>
 <main style="min-height: 300px; width: 100%;">
   <!-- <aside class="col-md-3 bg-secondary" id="cottrai"> </aside> -->
   <article class="col-md-6 " id="cotgiua" style="width: 80%; margin: 0 auto;">
    <router-outlet></router-outlet>
   </article>

   <!-- <aside class="col-md-3 bg-secondary" id="cotphai"> </aside> -->
  </main>
  <footer class="bg-dark text-white " style="height: 45px; text-align: center; line-height: 45px; font-size: 20px;">Đào Thị Hương Nhung</footer>
  </div>