<!-- <form #frm="ngForm" class="mt-3" style="padding: 10px;" >
    <h5 class="bg-warning p-2">CẬP NHẬT DỰ ÁN</h5>
    <p class="mb-3">Tên dự án <input type="text" class="form-control" name="tenDuAn" [(ngModel)]="da.tenDuAn"
          ></p>
    <p class="mb-3">Ngày Start <input type="date" class="form-control" name="ngayStart" [(ngModel)]="da.ngayStart"></p>
    <p class="mb-3">Tiền <input type="number" class="form-control" name="tien" [(ngModel)]="da.tien"></p>
    
    <p class="mb-3">
        Leader
        <select name="leader" id="" ngModel class="form-control">
            <option value="" *ngFor = "let nv of listNhanVien" value="{{nv.id}}">
                {{nv.ho}} {{nv.ten}} 
            </option>
        </select>
    </p>

    <p class="mb-3">
        Thành viên
        <select name="thanhvien" id="" ngModel multiple size="5" class="form-control">
            <option value="" *ngFor = "let nv of listNhanVien" value="{{nv.id}}">
                {{nv.ho}} {{nv.ten}} 
            </option>
        </select>
    </p>

    <p><button class="btn btn-primary p-2" (click)="suaDuAn(frm.value)">Cập nhật dự án</button></p>
</form>
 -->
 <form #frm="ngForm" class="mt-3" style="padding: 10px;">
    <h5 class="bg-warning p-2">CẬP NHẬT DỰ ÁN</h5>
    <p class="mb-3">Tên dự án <input type="text" class="form-control" name="tenDuAn" [(ngModel)]="da.tenDuAn"
            required minlength="6" #loitda="ngModel"></p>
    <p *ngIf="frm.controls['tenDuAn'].errors?.['required']" class="text-danger">Tên dự án là bắt buộc.</p>
    <p *ngIf="frm.controls['tenDuAn'].errors?.['minlength']" class="text-danger">Tên dự án phải có ít nhất 6 ký tự.</p>

    <p class="mb-3">Ngày Start <input type="date" class="form-control" name="ngayStart" [(ngModel)]="da.ngayStart"
            required #loingay="ngModel"></p>
    <p *ngIf="frm.controls['ngayStart'].errors?.['required']" class="text-danger">Ngày dự án là bắt buộc.</p>

    <p class="mb-3">Tiền <input type="number" class="form-control" name="tien" [(ngModel)]="da.tien" required
            #loitien="ngModel"></p>
    <p *ngIf="frm.controls['tien'].errors?.['required']" class="text-danger">Tiền dự án là bắt buộc.</p>

    <p class="mb-3">
        Leader
        <select name="leader" id="" ngModel class="form-control" required #loileader="ngModel">
            <option value="" disabled selected>Chọn Leader</option>
            <option *ngFor="let nv of listNhanVien" [value]="nv.id">{{ nv.ho }} {{ nv.ten }}</option>
        </select>
    </p>
    <p *ngIf="frm.controls['leader'].errors?.['required']" class="text-danger">Leader là bắt buộc.</p>

    <p class="mb-3">
        Thành viên
        <select name="thanhvien" id="" ngModel multiple size="5" class="form-control" required
            #loithanhvien="ngModel">
            <option value="" disabled selected>Chọn Thành viên</option>
            <option *ngFor="let nv of listNhanVien" [value]="nv.id">{{ nv.ho }} {{ nv.ten }}</option>
        </select>
    </p>
    <p *ngIf="frm.controls['thanhvien'].errors?.['required']" class="text-danger">Thành viên là bắt buộc.</p>

    <p><button class="btn btn-primary p-2" [disabled]="frm.invalid" (click)="suaDuAn(frm.value)">Cập nhật dự án</button></p>
</form>
